:root {
  --background: #f9f9f9;
  --primarytext: #180126;
  --secondarytext: #7e7a8f;
  --tertiarytext: #c3c7d2;
  --secondarycolor: #e8840d;
}

.navbar {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  background: var(--background);
}
.nav_container {
  width: 90%;
  margin: 0 auto;
}

.nav_header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

.nav-title {
  float: left;
  padding: 20px 0;
  font-weight: 550;
  margin-left: 5px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
}

nav ul li .a {
  color: var(--primarytext);
  text-decoration: none;
}

nav ul li .a:hover {
  color: var(--secondarycolor);
}

nav ul li .a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--secondarycolor);
  position: absolute;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav ul li .a:hover::after {
  width: 100%;
}
