.exhibit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Hind", sans-serif;
  background: #f9f9f9;
}

.exhibit_container > h1 {
  /* font-family: Hind; */
  font-size: 30px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 48px;
  /* letter-spacing: 0px; */
  /* text-align: left; */
  margin-bottom: 18px;
}

.ex_imgLabel {
  /* height: 24px;
    width: 130px; */
  /* border-radius: nullpx; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: 26px; */
  margin: 20px 0 20px 0;
}

.ex_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* gap: 20px; */
}

.ex_images > img {
  height: 151px;
  width: 157.5px;
  /* left: 20px;
    top: 288px; */
  /* border-radius: 0px; */
  border: 1px solid #000000;
}

.ex_viewBtn {
  position: relative;
  height: 26px;
  width: 134px;
  left: 20px;
  bottom: 35px;
  border-radius: 50px;
  background: #7e7a8f;
  border: 1px solid #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.2;
  text-align: center;
  padding-top: 3px;
  margin-bottom: -30px;
  color: #ffffff;
}

@media (min-width: 1300px) {
  .ex_images {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    align-items: center;
    gap: 37px;
  }

  .exhibit_container > h1 {
    display: none;
  }
  .ex_viewBtn {
    display: none;
  }

  .ex_images > img {
    height: 370px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: -50px;
  }

  .ex_imgLabel {
    position: relative;
    top: 435px;
    font-weight: 700;
    /* margin-bottom: 50px; */
  }

  .ex_space {
    height: 210px;
  }
}
