:root {
  --background: #f9f9f9;
  --primarytext: #180126;
  --secondarytext: #7e7a8f;
  --tertiarytext: #c3c7d2;
  --secondarycolor: #e8840d;
}

.footer-main {
  position: relative;
  font-family: "Hind", sans-serif;
  background: var(--background);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 1rem;
  color: var(--primarytext);
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 0 ;
}
.item-2 {
  width: 30%;
}
.item-3 li {
  margin: 0 0 20px 0;
}

.footer-main h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  color: var(--secondarycolor);
}

.footer-main ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-main ul .a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  font-weight: bold;
}

.footer-main ul .a:hover {
  opacity: 1;
}

.email {
  font-weight: bold;
  font-size: 13px;
}

.buttonIn {
  width: 300px;
  position: relative;
}

.footer-input {
  width: 125%;
  border-radius: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid lightgray;
}
input:focus {
  outline-width: 0;
}

.button {
  position: absolute;
  width: 30%;
  left: 280px;
  border: none;
  top: 6px;
  height: 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: var(--secondarycolor);
  border-radius: 30px;
  text-align: center;
}
